<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #2a4057;
        color: white;
        padding: 20px;
    }

    .product-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #2a4057;
        padding: 10px;
        background-color: #3e5f8a;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        width: 100px;
        margin-right: 20px;
    }

    .product-details {
        flex-grow: 1;
    }

    h1 {
        color: white;
        text-align: center;
    }

    p {
        margin: 5px 0;
        color: white;
    }

    .boton_agregar_carrito {
        display: inline-block;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .boton_agregar_carrito:hover {
        background-color: #45a049;
    }

    form {
        background-color: #3e5f8a;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        justify-content: space-around;
    }

    input[type="submit"] {
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<div>
    <h1>productos</h1>
    <form action="/products" method="GET">
        <p>ordenar</p>
        <input type="submit" name="sort" value="↑">
        <input type="submit" name="sort" value="↓">
    </form>
</div>

<div>
    {{#each productos}}
        <div class="product-container">
            <img class="product-image" src="{{this.thumbnail.[0]}}" alt="Product Image">
            <div class="product-details">
                <p>producto: {{this.title}}</p>
                <p>descripcion: {{this.description}}</p>
                <p>categoria: {{this.category}}</p>
                <p>precio: {{this.price}}</p>
                <p>stock: {{this.stock}}</p>
            </div>
            <div>
                <button class="boton_agregar_carrito">agregar al carrito</button>
            </div>
        </div>
    {{/each}}
</div>
</div>
